<header class="jumbotron">
  <h1>Bustle News Clone</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav nav-pills">
      <li role="presentation">About</li>
      <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li role="presentation">Admin</li>
    </ul>
  </nav>

</footer>
